<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kurly.mapper.MemberMapper">
	<select id="memberLogin" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM mk_member WHERE mkm_id=#{id} AND mkm_pwd=#{pwd}
	</select>
	<select id="selectSimpleMemberInfo" resultType="com.kurly.vo.SimpleMemberVO">
		SELECT mkm_id AS id, mkm_name AS name, mkm_grade AS grade, mkm_type AS type
		FROM mk_member
		WHERE mkm_id=#{id} AND mkm_pwd=#{pwd} 
	</select>
</mapper>